.navItem{
    color: #58937E;
}
.navItem:hover{
    color: #73bea4;
}

.navItemMobile{
    color: #FFFFFF;
}
.navItemMobile:hover{
    color: #dffaf0;
}

.greenBackground{
    background-color: #58937E;
}

